IFU_reduction/*.fits
IFU_reduction/*.lis
IFU_reduction/*.log
IFU_reduction/*.dat
IFU_reduction/*file
IFU_reduction/tmp*
IFU_reduction/std
IFU_reduction/*.xml
IFU_reduction_examples/



.CFUserTextEncoding
.DS_Store
.PyCharm40/
.Trash/
.Xauthority
.bash_history
.bash_profile
.bashrc
.cache/
.cshrc
.ds9.prf
.flexlmrc
.gitconfig
.idl/
.jsky/
.ocs15/
.profile
.pyraf_history
.rnd
.serverauth.69961
.ssh/
.subversion/
.ureka/
.ureka_tmp/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Ureka/
database/
datared/
gwen/
idl/
iraf/
pyraf/
software/
uparm/
ur/

