IFU_reduction/*.fits
IFU_reduction/*.lis
IFU_reduction/*.log
IFU_reduction/*.dat
IFU_reduction/*file
IFU_reduction/tmp*
IFU_reduction/std
IFU_reduction/*.xml
IFU_reduction_examples/
IFU_reduction/proc

IFU_reduction_wl/*.fits
IFU_reduction_wl/doall*
IFU_reduction_wl/preprocessing_files/
IFU_reduction_wl/cubing_files
IFU_reduction_wl/Gwen*
IFU_reduction_wl/scrop_proc
IFU_reduction_wl/ulyss_tests
IFU_reduction_wl/*.ipynb
IFU_reduction_wl/*.log
IFU_reduction_wl/*.fit

IFU_reduction_gwen/
IFU_reduction/idl_proc_reprod_gwen/
IFU_reduction/Preprocessing/

IFU_reduction_q35/*.fits
IFU_reduction_q35/*.lis
IFU_reduction_q35/*.txt

Guide/GN-2005B-DD-5.xml
Guide/guide.txt
Guide/idl_log.txt

*.jpg
*.fits
*.pyc
*.tif

Papers/


.CFUserTextEncoding
.DS_Store
.PyCharm40/
.Trash/
.Xauthority
.bash_history
.bash_profile
.bashrc
.cache/
.cshrc
.ds9.prf
.flexlmrc
.gitconfig
.idl/
.jsky/
.ocs15/
.profile
.pyraf_history
.rnd
.serverauth.69961
.ssh/
.subversion/
.ureka/
.ureka_tmp/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Ureka/
database/
datared/
gwen/
idl/
iraf/
pyraf/
software/
uparm/
ur/
.Xdefaults
.Xresources
.astropy/
.cups/
.ipynb_checkpoints/
.ipython/
.matplotlib/
.swt/
.teal/
.viminfo
